@import url(https://fonts.googleapis.com/css?family=Montserrat|PT+Serif);
@color_1: #6db0a3;
@color_2: #111;
@color_3: #000;
@color_4: #fff;
@color_5: #AAA;
@color_6: inherit;
@color_7: #808080;
@color_8: transparent;
@color_9: #8e8e8e;
@color_10: #f6f6f6;
@font-family_1: "PT Serif";
@font-family_2: "Montserrat";

.site {
	font-family: @font-family_1;
	color: #1a1a1a;
	p {
		margin-bottom: 1.5em;
		line-height: 1.7;
		word-wrap: break-word;
	}
	a {
		text-decoration: none;
		color: @color_1;
	}
	ul {
		list-style: none;
	}
	h1 {
		font-size: 45px;
		clear: both;
		font-family: @font-family_2;
		text-transform: uppercase;
		font-weight: bold;
		margin: 25px 0;
	}
}
label {
	display: block;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: @font-family_2;
}
&:before,
&:after {
	display: inherit;
}
.no-results,
.not-found {
	margin-bottom: 50px;
}

.no-results,
.not-found {
	.search-field {
		width: 100%;
		&:focus {
			color: @color_3;
		}
	}
}
.no-results,
.not-found {
	.search-form {
		label {
			display: inline-block;
			width: 50%;
		}
	}
}
.no-results,
.not-found {
	.search-submit {
		display: inline-block;
		padding: 8px;
		font-size: 18px;
	}
}
.page-header,
.inner-block {
	max-width: 1030px;
	padding: 0 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: table;
	width: 100%;
}
.page-content {
	p {
		font-size: 22px;
	}
}
.paging-navigation {
	max-width: 1030px;
	padding: 0 25px;
	position: relative;
	margin: 50px auto;
	.meta-nav {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}
.post-navigation {
	max-width: 1030px;
	padding: 0 25px;
	position: relative;
	margin: 50px auto;
	text-align: center;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	.meta-nav {
		display: block;
		margin: 0;
		padding: 0;
	}
	.nav-previous,
	.nav-next {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 200%;
			z-index: -1;
		}
	}
	.nav-previous {
		&:after {
			border-right: 2px solid #000;
			right: -1px;
		}
	}
	.nav-next {
		&:after {
			border-left: 2px solid #000;
			left: -1px;
		}
	}
	.nav-link {
		display: block;
		font-weight: bold;
		font-size: 20px;
		font-style: normal;
		text-transform: uppercase;
		font-family: @font-family_2;
		text-align: center;
		padding: 0;
		a {
			padding: 25px;
			display: block;
		}
	}
}
.text-container {
	max-width: 1030px;
	padding: 0 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	position: absolute;
	bottom: 80px;
	left: 50px;
	right: 50px;
	z-index: 3;
}
.entry-content {
	max-width: 1030px;
	padding: 0 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	line-height: 1.7;
	font-size: 21px;
	p {
		&+h1,
		&+h2,
		&+h3,
		&+h4,
		&+h5,
		&+h6 {
			margin-top: 50px;
		}
	}
	h3 {
		font-size: 25px;
	}
	h4 {
		font-size: 20px;
	}
	h1 {
		clear: both;
		font-family: @font-family_2;
		text-transform: uppercase;
		font-weight: bold;
		margin: 25px 0;
	}
	a {
		color: @color_1;
	}
}
.inner-block,
.footer-inner-wrapper {
	max-width: 1030px;
	padding: 0 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.comments-area {
	max-width: 1030px;
	padding: 0 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 17px;
	margin-bottom: 40px;
}
h2,h3,h4,h5,h6 {
	clear: both;
	font-family: @font-family_2;
	text-transform: uppercase;
	font-weight: bold;
	margin: 25px 0;
}
blockquote, q {
	margin-left: 200px;
	font-style: italic;
	font-size: 30px;
}
button {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	border-radius: 0;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
	-webkit-font-smoothing: inherit;
	font-family: @font-family_1;
	background: transparent;
	color: @color_3;
	border: 2px solid #000;
	cursor: pointer;
	-webkit-appearance: button;
	line-height: 1;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	padding: .6em 1em .5em;
	font-family: @font-family_2;
	-moz-transition: color, background 200ms ease-out;
	-o-transition: color, background 200ms ease-out;
	-webkit-transition: color, background 200ms ease-out;
	transition: color, background 200ms ease-out;
	&:hover {
		background: @color_3;
		color: @color_4;
		border-color: @color_3;
		box-shadow: none;
		border-radius: 0;
	}
}
input {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	border-radius: 0;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
	-webkit-font-smoothing: inherit;
	font-family: @font-family_1;
	background: #f6f6f6;
}
select {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	border-radius: 0;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
	-webkit-font-smoothing: inherit;
	font-family: @font-family_1;
}
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	border-radius: 0;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
	-webkit-font-smoothing: inherit;
	font-family: @font-family_1;
	background: #f6f6f6;
	overflow: auto;
	vertical-align: top;
	width: 100%;
	padding: 15px;
	color: @color_2;
	padding: 15px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"] {
	color: @color_3;
	padding: 15px;
	&:focus {
		color: @color_3;
	}
}
input[type="search"] {
	color: @color_2;
	padding: 15px;
	font-style: italic;
	&:focus {
		color: @color_4;
		font-style: normal;
	}
	&::-webkit-input-placeholder {
		color: inherit;
		font-style: italic;
		opacity: .85;
	}
	&:-moz-placeholder {
		color: inherit;
		font-style: italic;
		opacity: .85;
	}
	&::-moz-placeholder {
		color: inherit;
		font-style: italic;
		opacity: .85;
	}
	&:-ms-input-placeholder {
		color: inherit;
		font-style: italic;
		opacity: .85;
	}
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: transparent;
	color: @color_3;
	border: 2px solid #000;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
	-webkit-appearance: button;
	line-height: 1;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	padding: .6em 1em .5em;
	font-family: @font-family_2;
	-moz-transition: color, background 200ms ease-out;
	-o-transition: color, background 200ms ease-out;
	-webkit-transition: color, background 200ms ease-out;
	transition: color, background 200ms ease-out;
	&:hover {
		background: @color_3;
		color: @color_4;
		border-color: @color_3;
		box-shadow: none;
		border-radius: 0;
	}
}
.form-submit {
	input[type=submit] {
		min-width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	margin-top: 50px;
}
.comment-form {
	input[type="text"] {
		width: 100%;
	}
	input[type="email"] {
		width: 100%;
	}
	input[type="url"] {
		width: 100%;
	}
}
.contact-form.contact-form {
	div {
		margin-bottom: 10px;
	}
	label {
		margin-bottom: 5px;
		float: none;
		font-weight: bold;
		display: block;
		span {
			color: @color_5;
			margin-left: 4px;
			font-weight: normal;
		}
	}
	input[type='text'],
	input[type='email']{
		width: 100%;
		margin-bottom: 13px;
	}
	textarea {
		height: 200px;
		width: 100%;
		float: none;
		margin-bottom: 13px;
	}
}
&::-webkit-input-placeholder,
&:-moz-placeholder,
&::-moz-placeholder,
&:-ms-input-placeholder {
	color: @color_6;
	font-style: italic;
	opacity: .85;
}
.nav-link {
	.meta-nav {
		font-family: @font-family_1;
		font-weight: normal;
		font-style: italic;
		text-transform: none;
		font-size: 17px;
	}
	padding: 25px 0;
	a {
		color: @color_6;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: @color_7;
			.meta-nav {
				color: @color_7;
			}
		}
	}
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	font-family: @font-family_2;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
}
.nav-links {
	font-size: 17px;
	font-style: italic;
	position: relative;
	overflow: hidden;
}
.nav-previous {
	float: left;
	width: 50%;
	position: relative;
}
.nav-next {
	float: left;
	width: 50%;
	position: relative;
	text-align: right;
	float: right;
}
.site-branding {
	display: table-cell;
	vertical-align: middle;
}
.main-navigation {
	display: table-cell;
	vertical-align: middle;
	font-family: @font-family_2;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
}
.main-navigation {
    ul {
        ul {
            box-shadow: none;
            float: left;
            position: absolute;
            text-align: left;
            top: 57px;
            background: #000;
            left: -999em;
            z-index: 99999;
            padding: 10px 0;
            a {
                color: @color_4;
            }
        }
    }
}
.site-title {
	display: inline-block;
	vertical-align: middle;
	font-family: @font-family_2;
	font-weight: bold;
	font-size: 45px;
	text-transform: lowercase;
	letter-spacing: -1px;
	a {
		color: @color_6;
	}
}
.site-description {
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	font-size: 14px;
	line-height: 1.7;
	margin: 10px;
}
.menu-item {
	position: relative;
	display: inline-block;
	a {
		display: block;
		padding: 21px 15px;
		color: @color_3;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			height: 3px;
			width: 100%;
		}
		&:hover {
			&:before {
				content: "";
				background: #000;
			}
		}
	}
}
.current-menu-item {
	a {
		&:before {
			content: "";
			background: #000;
		}
	}
}
.site-footer {
	background: #1f2021;
	color: @color_4;
	font-size: 17px;
	padding: 70px 0;
	width: 100%;
	a {
		color: @color_6;
		border-bottom: 1px solid #fff;
	}
}
.widgets-blocks {
	overflow: hidden;
	.widget-area {
		&:first-of-type {
			margin-right: 4%;
		}
	}
}
.widget-area {
	width: 48%;
	float: left;
}
.widget {
	margin: 0 0 70px;
	input {
		color: @color_6;
		font-size: 15px;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.widget-title {
	font-size: 15px;
	margin: 0 0 20px 0;
	font-family: @font-family_2;
	text-transform: uppercase;
	font-weight: bold;
}
.widget_search {
	.search-field {
		background: transparent;
	}
}
.search-form {
	label {
		display: block;
		font-size: 15px;
		margin-bottom: 5px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: @font-family_2;
	}
}
.search-field {
	width: 100%;
	background: @color_10;
	border: 2px solid #fff;
}
.search-submit {
	display: none;
}
.widget_recent_entries {
	li {
		margin-bottom: 10px;
	}
	.post-date {
		line-height: 1.9;
		display: block;
		font-style: italic;
		font-size: 15px;
	}
}
.footer-text-container {
	margin-top: 50px;
}
.footer-text {
	display: inline-block;
	width: 48%;
	margin-right: -.25em;
	vertical-align: top;
}
.footer-social-links {
	display: inline-block;
	width: 48%;
	margin-right: -.25em;
	vertical-align: top;
	margin-left: 4%;
	li {
		margin-right: 10px;
		display: inline-block;
	}
	a {
		border: none;
	}
	.genericon {
		font-size: 30px;
	}
}
.posts-list {
	overflow: hidden;
}
.site-main {
	.post-grid {
		&:nth-of-type(3n+1) {
			width: 100%;
			margin-right: 0;
		}
	}
}
.post-grid {
	&:nth-of-type(3n+1) {
		.entry-title {
			font-size: 60px;
		}
	}
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-right: -.25em;
	margin-bottom: 0;
	color: @color_4;
	min-height: 600px;
	position: relative;
	overflow: hidden;
	background-color: #1f2021;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.post {
	a {
		color: @color_6;
	}
	.entry-title {
		font-size: 45px;
	}
}
.page-cover {
	color: @color_4;
	background-color: #1f2021;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	position: relative;
	margin-bottom: 80px;
	.entry-title {
		font-size: 80px;
	}
}
.page-cover-inside {
	padding-bottom: 100px;
	padding-top: 100px;
	position: relative;
	z-index: 10;
}
.entry-title {
	.entry-subtitle {
		font-family: @font-family_1;
		text-transform: none;
		font-weight: normal;
		font-style: italic;
		display: block;
		font-size: 30px;
		margin-top: 15px;
	}
	margin: 0;
	line-height: 1.2;
	word-break: break-word;
	text-transform: uppercase;
	font-weight: bold;
	font-family: @font-family_2;
}
.post-cover {
	background-color: #1f2021;
	margin-bottom: 80px;
	width: 100%;
	height: 100vh;
}
.post-grid-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	-webkit-transition: 300ms;
	transition: 300ms;
	&:hover {
		background: rgba(0, 0, 0, 0.55);
	}
}
.item-link {
	display: block;
	color: @color_8;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	cursor: pointer;
}
.sticky-post-label {
	border: 2px solid #fff;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 40px;
	padding: 9px 10px;
	font-family: @font-family_2;
}
.entry-footer {
	line-height: 1.5;
	font-style: italic;
	font-size: 18px;
	position: relative;
	&:before {
		content: "";
		width: 80px;
		height: 2px;
		display: block;
		background: #fff;
		margin: 40px 0;
	}
}
.updated {
	&:not(.published) {
		display: none;
	}
}
.overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.45)));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.stag-dropcap {
	display: block;
	float: left;
	text-align: center;
	margin: 5px 15px 15px 0;
	font-size: 150px;
	line-height: 150px;
	width: 150px;
	height: 150px;
}
.stag-intro-text {
	font-size: 140%;
	margin-bottom: 2em;
	display: block;
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	img {
		height: auto;
		max-width: 100%;
	}
	.wp-caption-text {
		margin: 0.8075em 0;
		text-align: center;
		color: @color_9;
		font-style: italic;
		font-size: 18px;
	}
}
.archive-title,
.comments-title {
	text-align: center;
	position: relative;
	font-size: 30px;
	margin: 70px 0;
	clear: both;
	font-family: @font-family_2;
	text-transform: uppercase;
	font-weight: bold;
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background: #000;
		top: 50%;
		left: 0;
		right: 0;
		z-index: -1;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	span {
		background: #fff;
		display: inline-block;
		padding: 0 25px;
		z-index: 3;
	}
}
.comment-reply-title {
	text-align: left;
	position: relative;
	font-size: 30px;
	margin: 70px 0;
	clear: both;
	font-family: @font-family_2;
	text-transform: uppercase;
	font-weight: bold;
	&:before {
		content: "";
		position: absolute;
		display: none;
		width: 100%;
		height: 2px;
		background: #000;
		top: 50%;
		left: 0;
		right: 0;
		z-index: -1;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	span {
		background: #fff;
		display: inline-block;
		padding: 0;
		z-index: 3;
	}
	small {
		font-style: italic;
		font-weight: normal;
		font-family: @font-family_1;
		text-transform: none;
		font-size: 16px;
	}
}
.comments-area>.comment-respond {
	.comment-reply-title {
		clear: both;
		font-family: @font-family_2;
		font-size: 30px;
		font-weight: bold;
		margin: 70px 0;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		&:before {
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			background: #000000;
			content: "";
			display: block;
			height: 2px;
			left: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			z-index: -1;
		}
		span {
			background: #ffffff;
			display: inline-block;
			padding: 0 25px;
			z-index: 3;
		}
		small {
			font-family: @font-family_1;
			font-size: 16px;
			font-style: italic;
			font-weight: normal;
			text-transform: none;
		}
	}
}
.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		&:first-of-type {
			margin-top: 0;
		}
		margin-top: 20px;
	}
	.avatar {
		border-radius: 50%;
		margin-right: 30px;
		height: 70px;
		width: 70px;
	}
	.comment-author {
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		font-style: normal;
		font-family: @font-family_2;
	}
	a {
		color: @color_1;
	}
	.url {
		color: @color_6;
	}
	.time-link {
		color: @color_6;
	}
	.comment-metadata {
		line-height: 1.8;
		font-style: italic;
	}
	.children {
		margin-left: 100px;
	}
}
.comment-autor-wrap {
	display: table;
	font-size: 15px;
}
.comment-author-wrap {
	.comment-avatar,
	.comment-meta {
		display: table-cell;
		vertical-align: middle;
	}
}
.comment-content {
	padding-left: 100px;
}
.comment-notes {
	font-size: 15px;
}
.comment-form-author {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin-right: -.25em;
}
.comment-form-email {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin-right: -.25em;
	margin-left: 4%;
}
.justified-gallery {
	clear: both;
	margin: 0 0 20px;
	overflow: hidden;
}