.site-wrapper {
  font-family: "PT Serif";
}
.site-wrapper p {
  margin-bottom: 1.5em;
  line-height: 1.7;
  word-wrap: break-word;
}
.site-wrapper a {
  text-decoration: none;
  color: #6db0a3;
}
.site-wrapper ul {
  list-style: none;
}
label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat";
}
:before,
:after {
  display: inherit;
}
.header-inner-wrapper {
  max-width: 1030px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: table;
  width: 100%;
}
.paging-navigation {
  max-width: 1030px;
  padding: 0 25px;
  position: relative;
  margin: 50px auto;
}
.paging-navigation .meta-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.post-navigation {
  max-width: 1030px;
  padding: 0 25px;
  position: relative;
  margin: 50px auto;
  text-align: center;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.post-navigation .meta-nav {
  display: block;
  margin: 0;
  padding: 0;
}
.post-navigation .nav-previous:after,
.post-navigation .nav-next:after {
  border-right: 1px solid #000;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200%;
  z-index: -1;
}
.post-navigation .nav-link {
  display: block;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Montserrat";
  text-align: center;
  padding: 0;
}
.post-navigation .nav-link a {
  padding: 25px;
  display: block;
}
.text-container {
  max-width: 1030px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  position: absolute;
  bottom: 80px;
  left: 50px;
  right: 50px;
  z-index: 3;
}
.post-content {
  max-width: 1030px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  line-height: 1.7;
  font-size: 21px;
}
.post-content p + h1,
.post-content p + h2,
.post-content p + h3,
.post-content p + h4,
.post-content p + h5,
.post-content p + h6 {
  margin-top: 50px;
}
.post-content h3 {
  font-size: 25px;
}
.post-content h4 {
  font-size: 20px;
}
.post-content h1 {
  clear: both;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  margin: 25px 0;
}
.post-content a {
  color: #6db0a3;
}
.inner-block,
.footer-inner-wrapper {
  max-width: 1030px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.comments-area {
  max-width: 1030px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 17px;
  margin-bottom: 40px;
}
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  margin: 25px 0;
}
blockquote,
q {
  margin-left: 200px;
  font-style: italic;
  font-size: 30px;
}
button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  -webkit-font-smoothing: inherit;
  font-family: "PT Serif";
  background: transparent;
  color: #000000;
  border: 2px solid #000;
  cursor: pointer;
  -webkit-appearance: button;
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: .6em 1em .5em;
  font-family: "Montserrat";
  -moz-transition: color, background 200ms ease-out;
  -o-transition: color, background 200ms ease-out;
  -webkit-transition: color, background 200ms ease-out;
  transition: color, background 200ms ease-out;
}
button:hover {
  background: #000;
  color: #ffffff;
}
input {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  -webkit-font-smoothing: inherit;
  font-family: "PT Serif";
  background: #f6f6f6;
}
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  -webkit-font-smoothing: inherit;
  font-family: "PT Serif";
}
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  -webkit-font-smoothing: inherit;
  font-family: "PT Serif";
  background: #f6f6f6;
  overflow: auto;
  vertical-align: top;
  width: 100%;
  color: #111111;
  padding: 15px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  color: #111111;
  padding: 15px;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: transparent;
  color: #000000;
  border: 2px solid #000;
  cursor: pointer;
  -webkit-appearance: button;
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: .6em 1em .5em;
  font-family: "Montserrat";
  -moz-transition: color, background 200ms ease-out;
  -o-transition: color, background 200ms ease-out;
  -webkit-transition: color, background 200ms ease-out;
  transition: color, background 200ms ease-out;
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #000;
  color: #ffffff;
}
.form-submit {
  margin-top: 50px;
}
.form-submit input[type=submit] {
  min-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.comment-form input[type="text"] {
  width: 100%;
}
.comment-form input[type="email"] {
  width: 100%;
}
.comment-form input[type="url"] {
  width: 100%;
}
.contact-form.contact-form div {
  margin-bottom: 10px;
}
.contact-form.contact-form label {
  margin-bottom: 5px;
  float: none;
  font-weight: bold;
  display: block;
}
.contact-form.contact-form label span {
  color: #aaaaaa;
  margin-left: 4px;
  font-weight: normal;
}
.contact-form.contact-form input[type='text'],
.contact-form.contact-form input[type='email'] {
  width: 100%;
  margin-bottom: 13px;
}
.contact-form.contact-form textarea {
  height: 200px;
  width: 100%;
  float: none;
  margin-bottom: 13px;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: inherit;
  font-style: italic;
  opacity: .85;
}
.nav-link {
  padding: 25px 0;
}
.nav-link .meta-nav {
  font-family: "PT Serif";
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  font-size: 17px;
  margin-bottom: 13px;
}
.nav-link a {
  color: inherit;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-link a:hover {
  color: #808080;
}
.nav-link a:hover .meta-nav {
  color: #000000;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
}
.nav-links {
  font-size: 17px;
  font-style: italic;
  position: relative;
  overflow: hidden;
}
.nav-previous {
  float: left;
  width: 50%;
  position: relative;
}
.nav-next {
  float: left;
  width: 50%;
  position: relative;
  text-align: right;
  float: right;
}
.site-brand {
  display: table-cell;
  vertical-align: middle;
}
.site-navigation {
  display: table-cell;
  vertical-align: middle;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 45px;
  text-transform: lowercase;
  letter-spacing: -1px;
}
.logo a {
  color: inherit;
}
.description {
  display: inline-block;
  vertical-align: middle;
  font-style: italic;
  font-size: 14px;
  margin-left: 10px;
}
.menu-item {
  position: relative;
  display: inline-block;
}
.menu-item a {
  display: block;
  padding: 21px 15px;
  color: #000000;
}
.menu-item a:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
}
.menu-item a:hover:before {
  content: "";
  background: #000;
}
.current-menu-item a:before {
  content: "";
  background: #000;
}
.site-footer {
  background: #1f2021;
  color: #ffffff;
  font-size: 17px;
  padding: 70px 0;
  width: 100%;
}
.site-footer a {
  color: inherit;
  border-bottom: 1px solid #fff;
}
.widgets-blocks {
  overflow: hidden;
}
.widgets-blocks .widget-block:first-of-type {
  margin-right: 4%;
}
.widget-block {
  width: 48%;
  float: left;
}
.widget {
  margin: 0 0 70px;
}
.widget input {
  color: inherit;
  font-size: 15px;
}
.widget:last-of-type {
  margin-bottom: 0;
}
.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget-title {
  font-size: 15px;
  margin: 0 0 20px 0;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
}
.search-form label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat";
}
.search-field {
  width: 100%;
  background: transparent;
  border: 2px solid #fff;
  color: #ffffff;
  padding: 15px;
}
.search-submit {
  display: none;
}
.widget-recent-posts li {
  margin-bottom: 10px;
}
.widget-recent-posts .post-date {
  line-height: 1.9;
  display: block;
  font-style: italic;
  font-size: 15px;
}
.footer-text-container {
  margin-top: 50px;
}
.footer-text {
  display: inline-block;
  width: 48%;
  margin-right: -0.25em;
  vertical-align: top;
}
.footer-social-links {
  display: inline-block;
  width: 48%;
  margin-right: -0.25em;
  vertical-align: top;
  margin-left: 4%;
}
.footer-social-links li {
  margin-right: 10px;
  display: inline-block;
}
.footer-social-links a {
  border: none;
}
.footer-social-links .genericon {
  font-size: 30px;
}
.posts-list {
  overflow: hidden;
}
.site-main .post-grid:nth-of-type(3n+1) {
  width: 100%;
  margin-right: 0;
}
.post-grid {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: -0.25em;
  color: #ffffff;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  background-color: #1f2021;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.post-grid:nth-of-type(3n+1) .post-title {
  font-size: 60px;
}
.post a {
  color: inherit;
}
.post .post-title {
  font-size: 45px;
}
.page-cover {
  color: #ffffff;
  background-color: #1f2021;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}
.page-cover .post-title {
  font-size: 80px;
}
.page-cover-inside {
  padding-bottom: 100px;
  padding-top: 100px;
  position: relative;
  z-index: 10;
}
.post-title {
  margin: 0;
  line-height: 1.2;
  word-break: break-word;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat";
}
.post-title .entry-subtitle {
  font-family: "PT Serif";
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  display: block;
  font-size: 30px;
  margin-top: 15px;
}
.post-cover {
  background-color: #1f2021;
  margin-bottom: 80px;
  width: 100%;
  height: 100vh;
}
.post-grid-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.post-grid-content:hover {
  background: rgba(0, 0, 0, 0.55);
}
.item-link {
  display: block;
  color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  cursor: pointer;
}
.sticky-post-label {
  border: 2px solid #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 40px;
  padding: 9px 10px;
  font-family: "Montserrat";
}
.post-footer {
  line-height: 1.5;
  font-style: italic;
  font-size: 18px;
  position: relative;
}
.post-footer:before {
  content: "";
  width: 80px;
  height: 2px;
  display: block;
  background: #fff;
  margin: 40px 0;
}
.updated:not(.published) {
  display: none;
}
.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.45)));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.stag-dropcap {
  display: block;
  float: left;
  text-align: center;
  margin: 5px 15px 15px 0;
  font-size: 150px;
  line-height: 150px;
  width: 150px;
  height: 150px;
}
.stag-intro-text {
  font-size: 140%;
  margin-bottom: 2em;
  display: block;
}
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img {
  height: auto;
  max-width: 100%;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
  text-align: center;
  color: #8e8e8e;
  font-style: italic;
  font-size: 18px;
}
.comments-title {
  text-align: center;
  position: relative;
  font-size: 30px;
  margin: 70px 0;
  clear: both;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
}
.comments-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.comments-title span {
  background: #fff;
  display: inline-block;
  padding: 0 25px;
  z-index: 3;
}
.comment-reply-title {
  text-align: center;
  position: relative;
  font-size: 30px;
  margin: 70px 0;
  clear: both;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
}
.comment-reply-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.comment-reply-title span {
  background: #fff;
  display: inline-block;
  padding: 0 25px;
  z-index: 3;
}
.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list li {
  margin-top: 20px;
}
.comment-list li:first-of-type {
  margin-top: 0;
}
.comment-list .avatar {
  border-radius: 50%;
  margin-right: 30px;
  height: 70px;
  width: 70px;
}
.comment-list .comment-author {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-family: "Montserrat";
}
.comment-list a {
  color: #6db0a3;
}
.comment-list .url {
  color: inherit;
}
.comment-list .time-link {
  color: inherit;
}
.comment-list .comment-metadata {
  line-height: 1.8;
  font-style: italic;
}
.comment-list .children {
  margin-left: 100px;
}
.comment-autor-wrap {
  display: table;
  font-size: 15px;
}
.comment-author-wrap .comment-avatar,
.comment-author-wrap .comment-meta {
  display: table-cell;
  vertical-align: middle;
}
.comment-content {
  padding-left: 100px;
}
.comment-notes {
  font-size: 15px;
}
.comment-form-author {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: -0.25em;
}
.comment-form-email {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: -0.25em;
  margin-left: 4%;
}
.justified-gallery {
  clear: both;
  margin: 0 0 20px;
  overflow: hidden;
}
.post-1 .post-grid {
  background-image: url(../res/maninforest.jpg);
}
.post-1.post-grid {
  background-image: url(../res/maninforest.jpg);
}
.post-2 .post-grid {
  background-image: url(../res/maninglasess.jpg);
}
.post-2.post-grid {
  background-image: url(../res/maninglasess.jpg);
}
.post-3 .post-grid {
  background-image: url(../res/manwithabook.jpg);
}
.post-3.post-grid {
  background-image: url(../res/manwithabook.jpg);
}
.post-4 .post-grid {
  background-image: url(../res/bicycle.jpg);
}
.post-4.post-grid {
  background-image: url(../res/bicycle.jpg);
}
.post-5 .post-grid {
  background-image: url(../res/manincostume.jpg);
}
.post-5.post-grid {
  background-image: url(../res/manincostume.jpg);
}
.post-6 .post-grid {
  background-image: url(../res/manonapierce.jpg);
}
.post-6.post-grid {
  background-image: url(../res/manonapierce.jpg);
}
.post-7 .post-grid {
  background-image: url(../res/someclothess.jpg);
}
.post-7.post-grid {
  background-image: url(../res/someclothess.jpg);
}
.post-8 .post-grid {
  background-image: url(../res/girlinglasess.jpg);
}
.post-8.post-grid {
  background-image: url(../res/girlinglasess.jpg);
}
.post-9 .post-grid {
  background-image: url(../res/liquid.gif);
}
.post-9.post-grid {
  background-image: url(../res/liquid.gif);
}
.post-10 .post-grid {
  background-image: url(../res/toast.jpg);
}
.post-10.post-grid {
  background-image: url(../res/toast.jpg);
}
.post-11 .post-grid {
  background-image: url(../res/maninjacket.jpg);
}
.post-11.post-grid {
  background-image: url(../res/maninjacket.jpg);
}
.post-12 .post-grid {
  background-image: url(../res/couple.jpg);
}
.post-12.post-grid {
  background-image: url(../res/couple.jpg);
}
.post-13 .post-grid {
  background-image: url(../res/fireman.jpg);
}
.post-13.post-grid {
  background-image: url(../res/fireman.jpg);
}
.contacts .page-cover {
  background-image: url(../res/river.jpg);
}
.static .page-cover {
  background-image: url(../res/someclothess.jpg);
}
